<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Alarmlines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Cus_BIVN" value="CS001" />
    <add key="Cus_TOYODENSO" value="CS002" />
    <add key="Cus_CVN" value="CS005,CS006,CS014,CS021,CS025,P12,P13" />
    <add key="Cus_YOKOWO" value="CS013,CS020" />
    <add key="Cus_KYOCERA" value="CS016,CS032,P41" />
    <add key="Cus_NIHON" value="CS018" />
    <add key="Cus_FUJI" value="CS022,P28" />
    <add key="Cus_HLV" value="CS023,P35" />
    <add key="Cus_NICHIKON HK" value="CS030,P55" />
    <add key="Cus_VALEO" value="CS038,CS048,CS049,P24" />
    <add key="Cus_STANLE ELECTRONICS" value="CS034" />
    <add key="Cus_NICHIKON JP" value="CS040,P48" />
    <add key="Cus_YASUKAWA" value="CS045,P02" />
    <add key="Cus_ICHIKOH" value="CS048,P04" />
    <add key="Cus_STANLEY" value="P23" />
    <add key="Cus_TOSOK" value="P51" />
    <add key="Cus_TYD" value="P85" />
    <add key="Cus_FormLabs" value="P05" />
    <add key="Loc_ALL" value="AllLine" />
    <add key="Loc_BROTHER" value="S13,S14,S15,S17,S18,S19,S20,S21,S22,S23,S24,S25,S26,S27,S28,S29,S30,S31,S35,S36,S44,A05,A06,A07,A08,A09,A202,A203,A204,JV05,JV09" />
    <add key="Loc_AUTO" value="S08,S10,S11,S32,S37,S42,S43,S45,S47" />
    <add key="Loc_CANON" value="S01,S02,S03,S04,S05,S06,S07,S09,S12,S33,S34,S38,S39,S40,S46,S48,S49,S50,A01,A02,A03,A04,A101,A102,A103,A104" />
    <add key="Loc_YASKAWA" value="S41,S16" />
    <add key="Err_PartBarcodeNotFound" value="Mã linh kiện không tồn tại" />
    <add key="Err_UpnNotMatch" value="Nhầm linh kiện" />
    <add key="Err_UpnPartNotRequired" value="Nhầm linh kiện" />
    <add key="Err_InvalidBarcode" value="Mã linh kiện không tồn tại" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Alarmlines.Properties.Settings>
      <setting name="Area" serializeAs="String">
        <value>ALL</value>
      </setting>
      <setting name="ComNo" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Verify" serializeAs="String">
        <value>Unvisible</value>
      </setting>
      <setting name="ViewError" serializeAs="String">
        <value>Unvisible</value>
      </setting>
    </Alarmlines.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
